## Tuple

In [1]:
t1 = (1,2,3)
t1

(1, 2, 3)

In [2]:
t1[0]

1

In [3]:
t1[-1]

3

In [4]:
t2 = ("one","two","three")
for item in t2:
    print(item)

one
two
three

In [5]:
t3  = t1+t2
t3

(1, 2, 3, 'one', 'two', 'three')

In [6]:
if "four" in t3:
    print(True)
print(False)

False

In [7]:
t3[2:5]

(3, 'one', 'two')

In [8]:
t3[-4:-1]

(3, 'one', 'two')

In [9]:
t = ("aditya",)
type(t)

tuple

In [10]:
t4 = ("python","java","Program")
li = list(t4)
li[2] = "c++"
print(tuple(li))

('python', 'java', 'c++')

In [11]:
del t2

In [12]:
for i in t2:
    print(i)

NameError: name 't2' is not defined

In [ ]:
tu = ()
for i in tu:
    print(i)

In [13]:
t3 = (2,3,7,6,7,14,10,14,2,6,31)
t3.count(2)

2

In [14]:
t3.index(7)

2

In [15]:
t3.index(7,3)

4

In [17]:
t = 1,2,3,4
type(t)

tuple

In [18]:
t1,t2,t3,t4 = t
t1

1

In [19]:
t2

2

In [20]:
t3

3

In [21]:
t4

4

### Tasks on Tuples

- 1) Write a python to change the item in a tuple.
- 2) Write a python program to convert a tuple to a string
- 3) Print the 4th element and 4th element from the last in a tuple
- 4) Write a program to find the repeated items in a tuple
- 5) Print the length of a tuple without using length function.
- 6) Write a program to reverse a tuple
- 7) Write a program to replace the last value of all elements in a tuple

## Tasks on Lists

- 1) Write a program to find the second largest and second smallest elements in a list
- 2) Write a program to get the difference between two lists
- 3) Write a program to print the list after removing even numbers in it
- 4) Print the palindromic elements in a given list.

In [24]:
tu = ((1,2,3),(2,3,4),(4,5,6))
for i in tu:
    print(i[:-1]+(10,))

(1, 2, 10)
(2, 3, 10)
(4, 5, 10)

In [ ]:
li = 10,3,4,7,-1,2,0
sali = -1 0 2 3 4 7 10

1st largest  -1
2nd largest  -2
.
.
.
.
kth largest -k



1st smallest   0
2nd smallest   1
3rd smallest   2
.
.
.
.
kth smallest  k-1

In [ ]:
list is in descending order
1,3,2,5,6,3,1,5